<div class="flex justify-between items-center h-15 max-w-[1240px] mx-auto px-4 text-gray-800">
  <div>
    <h1 class="w-full text-3xl font-bold text-gray-800">{{title}}</h1>
  </div>
  <div>
    <ul class="hidden md:flex">
      <li class="p-4"><a class="hover:text-gray-500 text-sm" routerLink="/home">Home</a></li>
      <li class="p-4"><a class="hover:text-gray-500 text-sm" routerLink="/products">Products</a></li>
      <li class="p-4"><a class="bg-blue-600 text-sm text-gray-100 w-[200px] rounded-md
        p-1 hover:tracking-wide" 
        href="#">Sign-in</a></li>
    </ul>
  </div>
  <div>
    <ul class="hidden md:flex">
      <li class="p-4"><i id="cart" class="fa-solid fa-cart-shopping"></i></li>
    </ul>
  </div>

  <div (click)="toggle()" class="block md:hidden">
    <i [ngClass]="hideNav ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"></i>
  </div>
</div>
<atlas-sidebar [showSide]="hideNav" [title]="title"></atlas-sidebar>

<router-outlet></router-outlet>
