<section id="news" class="bg-gray-800 h-[300px] flex justify-center items-center">
  <div class="max-w-full p-10 mx-auto grid lg:grid-cols-2">
    <div id="text" class="flex justify-center items-center">
      <p class="text-lg font-bold text-white">
        You can sign up to our 
        newsletter to receive 
        emails on our new 
        products.
      </p>
    </div>
    <div id="form" class="mt-6 lg:mt-0">
      <div class="flex justify-center">
        <input class="w-[350px] h-[35px] border-2 border-gray-600 border-solid rounded-lg p-2 text-sm text-white bg-gray-700 focus:outline-white" type="text">
      </div >
      <div class="flex justify-center">
        <button class="bg-blue-600 text-white w-[100px] mt-2 rounded-md hover:bg-blue-400">Submit</button>
      </div>
    </div>
  </div>
</section>
