<atlas-navbar></atlas-navbar>
<main class="bg-[#E6E6FA] py-1 overflow-hidden">
  <div class="bg-white h-[50px] w-full mx-auto flex items-center px-2 shadow-lg">
    <h3 class="text-sm">
      <span class="hover:text-gray-400"><a href="#">Home</a></span>
      <span class="ml-2">></span>
      <span class="ml-2 hover:text-gray-400"><a href="#">Sneakers</a></span>
      <span class="ml-2">></span>
      <span class="ml-2">Nike Air Jordans</span>
    </h3>
  </div>
  <atlas-product></atlas-product>
  <atlas-suggest></atlas-suggest>
  <atlas-reviews></atlas-reviews>
</main>
<atlas-footer></atlas-footer>
