<atlas-navbar></atlas-navbar>
  <main class="bg-[#E6E6FA] py-1">
    <div class="bg-white h-[50px] w-full mx-auto flex items-center px-2">
      <h3 class="text-sm">
        <span class="hover:text-gray-400"><a [routerLink]="'/home'">Home</a></span>
        <span class="ml-2">></span>
        <span class="ml-2">Products</span>
      </h3>
    </div>
    <atlas-search
    (showSearch)="onShowSearch($event)"
    ></atlas-search>
    <div class="max-w-[1200px] mx-auto grid md:grid-cols-[35%_65%]">
      <div>
        <atlas-filter
        (showAll)="onShowAll($event)"
        (showCategory)="onShowCategory($event)"
        (showBrand)="onShowBrand($event)"
        (searchText)="onSearchText($event)"
        (priceValue)="onPriceValue($event)"
        ></atlas-filter>
      </div>
      <div>
        <div class="flex justify-end">
          <atlas-sort (sortPrice)="onSortPrice($event)"></atlas-sort>
        </div>
        <atlas-product-list
        [product]="products"
        [loading]="loading"
        [searchText]="searchText"
        [totalItems]="totalProducts"
        ></atlas-product-list>
      </div>
    </div>
  </main>
<atlas-footer></atlas-footer>