<section class="bg-gray-700">
  <div class="py-10 px-4 max-w-[1280px] mx-auto grid grid-cols-3">
    <div class="text-gray-200 lg:border-r lg:border-gray-600">
      <h1 class="w-full text-base lg:text-1xl font-bold">ATLAS.</h1>
      <p class="py-4 text-xs lg:text-sm">&copy; 2023 – ATLAS, Inc.</p>
    </div>
    <div class="text-gray-200 lg:border-r lg:border-gray-600 lg:px-4">
      <h1 class="w-full text-base lg:text-1xl font-bold">CONTACT US</h1>
      <p class="py-4 text-xs lg:text-sm">atlas-store@gmail.com</p>
    </div>
    <div class="text-gray-200 lg:px-4">
      <h1 class="w-full text-base lg:text-1xl font-bold">SOCIAL PAGES</h1>
      <div class="max-w-[150px] flex justify-between items-center mt-5">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
</section>
